.cart__container {
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid $primary-color;

  & > * {
    flex-grow: 1;
    flex-basis: 0;
  }

  img {
    max-width: 100px;
    margin-bottom: 10px;
  }

  .cart__name {
    flex-grow: 2;
  }

  .btn {
    font-size: 0.6rem;
  }

  @include atMobile {
    flex-direction: column;
    align-items: center;
    font-size: 0.4rem;

    .btn {
      font-size: 0.4rem;
      margin: 10px 0;
    }
  }
}

.cart__description {
  margin-top: 40px;

  .cart__total {
    margin-top: 10px;
    font-size: 1rem;
  }

  .btn {
    margin-top: 20px;
    width: 400px;
    height: 40px;
  }

  @include atMobile {
    flex-direction: column;
    align-items: center;

    .btn {
      width: 280px;
    }
  }
}
