.container {
  width: 100%;
  max-width: 1500px;
  padding-top: 10rem;
  padding-bottom: 115px;
  margin: auto;
  text-align: center;

  @include atMobile {
    padding: 5rem 1rem;
  }

  @include atTablets {
    padding: 5rem 1rem;
  }
}

.wrapper {
  position: relative;
  min-height: 100vh;
}
