@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  width: 100%;
  position: fixed;

  &__logo {
    font-family: 'Cinzel', serif;
    font-size: 2.8rem;
  }

  &__items {
    display: flex;
    align-items: center;

    li {
      padding: 0 1.5rem;
    }

    .dropdown {
      position: relative;
      display: inline-block;

      i {
        margin-left: 4px;
      }

      .dropdown__profile {
        text-align: center;
        &:hover {
          color: #666;
          cursor: pointer;
        }
      }

      .dropdown__content {
        display: none;
        position: absolute;
        padding: 5px;
        min-width: 80px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        text-align: center;

        &__item {
          margin-bottom: 4px;
          cursor: pointer;
        }

        &__logout:hover {
          color: #666;
          cursor: pointer;
        }
      }
    }

    .dropdown:hover .dropdown__content {
      display: flex;
      flex-direction: column;
    }
  }

  @include atMobile {
    background-color: #fff;
    padding: 0.75rem 2rem;

    .nav__logo {
      font-size: 1.5rem;
    }

    .nav__items {
      li {
        font-size: 0.8rem;
        padding: 0 0.4rem;

        .dropdown:hover .dropdown__content {
          max-width: 20px;
        }
      }
    }
  }

  @include atTablets {
    .nav__logo {
      font-size: 2rem;
    }
    .nav__items {
      li {
        padding: 0 0.8rem;
      }
    }
  }
}
