.pagination {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  color: $primary-color;

  &__item {
    margin-right: 1rem;
  }

  .active {
    color: black;
    font-weight: bolder;
  }
}
