// Products Landing page

.products__title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;

  @include atMobile {
    font-size: 1.2rem;
  }
  @include atTablets {
    font-size: 2rem;
  }
}

.rating span {
  margin: 0.1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .product {
    padding: 1rem;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 0.5rem;
    }
  }

  @include atMobile {
    grid-template-columns: repeat(2, 1fr);
    .product {
      padding: 0.2rem;
      font-size: 0.4rem;
    }
  }

  @include atTablets {
    grid-template-columns: repeat(3, 1fr);
    .product {
      padding: 0.4rem;
      font-size: 0.6rem;
    }
  }
}
