.user__list__title {
  margin: 1rem 0;
}

.user__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__table {
    margin-top: 2rem;
  }

  td,
  th {
    padding-right: 2rem;
  }

  &__edit {
    background-color: $secondary-color;
  }

  button {
    width: 36px;
  }

  @include atMobile {
    margin: auto;
    font-size: 0.6rem;

    td,
    th {
      padding-right: 0;
    }

    button {
      display: flex;
      flex-direction: column;
    }
  }
}
