// Colors
$dark-color: #000;
$white-color: #fff;
$light-color: #f4f4f4;
$primary-color: #b2b2b2;
$secondary-color: #666;
$hover-color: #555;
$emphasis-color: #f3885f;

$success-color: #3ba961;
$danger-color: #d23430;
$warning-color: #f0ae4d;
$info-color: #219bcf;

// Media queries
$screen-sm-max: 500px;
$screen-md-max: 992px;
$screen-lg-min: 1200px;
